.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  outline: none;
}
button.add {
  box-sizing: border-box;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todos {
  border: 2px solid #333;
  padding: 2rem;
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  border-top-left-radius: 0.5rem;

  box-shadow: 0.25rem 0.25rem indigo;
}
.todos button {
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background: #ff2;
  font-weight: bold;
  outline: none;
}
.todo {
  padding: 0.5rem;
}
